*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(120deg, #0e499d, #ffffff, #d30529);
    min-height: 100vh;
}

.intro, .quiz, .boxScore{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.quiz.activeQuiz,
.boxScore.activeBoxScore{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.quiz{
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.opt .opt.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

.opt .opt.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.opt .opt.disabled{
    pointer-events: none;
}

.boxScore{
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}