@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: repeating-linear-gradient(120deg,
            #2f2f2f,
            #2f2f2f 10px,
            #323232 10px,
            #323232 75px);
    background-attachment: fixed;
}

.container {
    min-height: 100vh;
    background: repeating-linear-gradient(120deg,
            #f5f5f5,
            #f5f5f5 10px,
            #ffffff 10px,
            #ffffff 75px);
    background-attachment: fixed;
}

.card {
    background-color: #f0db5b;
}

.card:hover {
    animation: bounce 0.5s;
}

@keyframes bounce {
    20% {
        transform: translateY(-10px);
    }

    40% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-5px);
    }

    80% {
        transform: translateY(0px);
    }

}

img {
    background-color: rgba(255, 255, 255, 0.7);
}

.card-body {
    background-color: rgba(255, 255, 255, 0.3);
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(25px);
}